<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === true">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a *ngIf="!authstate" mat-list-item (click)="drawer.close()" [routerLink]="['/login']">
        <mat-icon>login</mat-icon>
        <span style="padding-left: 0.2rem">Login</span>
      </a>
      <a *ngIf="!authstate" mat-list-item (click)="drawer.close()" [routerLink]="['/signup']">
        <mat-icon>account_circle</mat-icon>
        <span style="padding-left: 0.2rem">Signup</span>
      </a>
      <a *ngIf="authstate" mat-list-item (click)="drawer.close()" [routerLink]="['/training']">
        <mat-icon>fitness_center</mat-icon>
        <span style="padding-left: 0.2rem">Training</span>
      </a>
      <a *ngIf="authstate" mat-list-item (click)="drawer.close()" [routerLink]="['/login']">
        <mat-icon>logout</mat-icon>
        <span style="padding-left: 0.2rem">Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>B`FIT</span>
      <div
        class="nav-fullw"
        fxLayout
        fxFlex
        fxLayoutAlign="end"
        [ngStyle]="{display: (isHandset$ | async) === true ? 'none' : 'flex'}"
      >
        <a *ngIf="!authstate" mat-list-item [routerLink]="['/login']">Login</a>
        <a *ngIf="!authstate" mat-list-item [routerLink]="['/signup']">Signup</a>
        <a *ngIf="authstate" mat-list-item [routerLink]="['/training']">Training</a>
        <a *ngIf="authstate" mat-list-item>
          <mat-icon style="margin: 15% 0" [matMenuTriggerFor]="menu">expand_more</mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon> Logout
            </button>
          </mat-menu>
        </a>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
